body {
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;

}

.caixa6 {
position: relative;
width:  200px;
height: 200px;
background-color: blueviolet;
animation-duration: 3s;
animation-name: giro;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;

 


}


@keyframes giro {
    0%{
       
       transform: rotateZ(0deg);
    }


    12%{
        transform: rotateZ(45deg);  
        background-color: blue;
    }

    
    25%{

        transform: rotateZ(90deg);  
        background-color: aquamarine;
    }

    
    37%{
        transform: rotate(135deg);  
        background-color: green;
    }


    50%{
        transform: rotate(180deg);  
        background-color: yellow;
    }
    62%{
        transform: rotate(225deg);  
        background-color: black;
    }

    
    75%{
        transform: rotate(270deg);  
        background-color: purple;
    }

    
    87%{
        transform: rotate(315deg);  
        background-color: pink;
    }

    

    100%{
        transform: rotateZ(360deg);
    }
}