body {
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;

}

.caixa5 {
position: relative;
width:  200px;
height: 200px;
background-color: blueviolet;
animation-duration: 3s;
animation-name: inclinar;
animation-iteration-count: infinite;


}
@keyframes inclinar {
    0%{
       left: 0;
    }
    50%{
        transform: rotate(45deg);  
    }
    100%{
        left: 0;
    }
   }